# line syntax: command="<scm-ssh-path>/scm-ssh '<cb-username>'",no-port-forwarding,no-X11-forwarding,no-agent-forwarding,no-pty <cb-user-publickey>
# Note: use server cb user in connection command like - "git push codebeamer@codebeamer.com:/home/codebeamer/repository/git/my-repository" 
command="/home/lali/src/workspace/cb/etc/scm/ssh/scm-ssh 'adam.berkes'",no-port-forwarding,no-X11-forwarding,no-agent-forwarding,no-pty ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCToMT+JEZcwlycnF085NmM1hCQDUEMpcvTPE54/k45pGS0hjDjLF/YdqBY8JYO/iKZQHv+BxLHybhpgtLj3TCoXNWt5iVPFddUzGotLfOk58qalIB6WwIMNelJR8Ccb5f9qCCyZ2LZHR8dwGU5w91hSyCMNEn/I/AdarhMnmPnjgHUBYsS575Lmv/pT0pZSbw25xFLn8OPknA778mwgyWEzFEuw4+sFqKIC2vm8dHmMrtQZQ1Xh8lOkYtVpcXgBvpHvwg4zj3ABq6I+l3FWB5kExQ+GpxJ8iFG7Th5OpOj/yXYNJfwJQp17H73D6rYVuVP1GI0PviwCmUJhCo25V5V lali