<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title></title>
<style type="text/css">
body { font-family: Arial, Helvetica, sans-serif; color: #121212; background-color: #f5f5f5; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; }

a { color: #58dba0; text-decoration: none; }</style>
<table border="0" cellpadding="0" cellspacing="0" width="600">
	<tbody>
		<tr>
			<td bgcolor="#FFFFFF">
				<img alt="Intland Software" border="0" hspace="20" src="http://www.intland.com/wp-content/uploads/2014/01/logo4.png" vspace="30" /></td>
		</tr>
		<tr bgcolor="00a85d">
			<td align="center">
				<br />
				<br />
				<font color="#ccffe8" face="Arial, Helvetica, sans-serif" size="5">Thank you for registering codeBeamer online trial!<br />
You selected the trial of our</font></td>
		</tr>
		<tr bgcolor="005c50">
			<td>
				<img alt="Download" border="0" height="329" src="http://www.intland.com/wp-content/uploads/2014/07/trial-reminder-medical-try.png" width="600" /></td>
		</tr>
		<tr bgcolor="005c50">
			<td align="center">
				<font color="#dcf5f2" face="Arial, Helvetica, sans-serif" size="4">This template guides you how to set up a<br />
full IEC 62304 compliant ALM tool in order to<br />fulfill regulatory obligations in<br />medical software development.<br /><br />Our smart template provides access to domain knowledge<br />via our integrated medical wiki,<br />gives a checklist for IEC 62304 compliance,<br />and contains pre-defined trackers and workflows<br />for Risk Management.<br><br>Our Medical Template supports the audit trail according to<br>FDA 21 CFR Part 11.</font><br /><br />
				&nbsp;</td>
		</tr>
	</tbody>
</table>

<table bgcolor="#004239" border="0" cellpadding="20" cellspacing="0" width="600">
	<tbody>		<tr><td colspan="4" align="center"><font color="#dcf5f2" face="Arial, Helvetica, sans-serif" size="3">
Benefits of using our Smart Project Template<br />in Medical Software Industry:</font>&nbsp;</td></tr>
		<tr>
			<td align="center" valign="top" width="100">
				<img border="0" height="86" src="http://www.intland.com/wp-content/uploads/2014/07/trial-reminder-medical-iso.png" width="86" /><br />
				<br />
				<font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2">Reduce effort to customize ALM tools to be compliant with standards (e.g. IEC62304, ISO standards for medical, and FDA regulations)</font></td>
			<td align="center" valign="top" width="100">
				<img border="0" height="86" src="http://www.intland.com/wp-content/uploads/2014/07/trial-reminder-medical-knowledge.png" width="86" /><br />
				<br />
				<font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2">Provide domain knowledge therefore gain quicker roll out</font></td>
			<td align="center" valign="top" width="100">
				<img border="0" height="86" src="http://www.intland.com/wp-content/uploads/2014/07/trial-reminder-medical-time.png" width="86" /><br />
				<br />
				<font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2">Implement agile practice to increase efficiency and reduce time to market</font></td>
			<td align="center" valign="top" width="100">
				<img border="0" height="86" src="http://www.intland.com/wp-content/uploads/2014/07/trial-reminder-demand-workflows.png" width="86" /><br />
				<br />
				<font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="2">Keep flexibility by customizable trackers and workflows to match with internal rules and processes</font><br />
				&nbsp;</td>
		</tr>
	</tbody>
</table>


<table border="0" cellpadding="20" cellspacing="0" width="600">
	<tbody>
		<tr>
			<td align="center" bgcolor="#2ab0d1">
				<br /><br />
				<font color="ccf4ff" face="Arial, Helvetica, sans-serif" size="5">Hereby we recommend to check further content in this topic:</font><br /><br />
                
			  <a href="http://www.intland.com/blog/requirements/requirements-management-is-a-key-to-success-in-the-medical-industry/" target="_blank"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="3">Requirements Management is a key to success in the medical industry →</font></a><br />
   
                                				<br />
			  <a href="http://www.intland.com/blog/agile/agile-software-development-the-future-of-the-healthcare-industry/" target="_blank"><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="3">Agile Software Development: The Future of the Healthcare Industry →</font></a><br /><br />&nbsp;</td>
                                                		<td align="center" bgcolor="#2ab0d1">
				<a href="http://www.intland.com/wp-content/uploads/2014/02/brochure-codebeamer-medical.pdf" target="_blank">
                <img src="http://www.intland.com/wp-content/uploads/2014/07/trial-reminder-medical-bro.png" width="200" height="200" /><br /><font color="#FFFFFF" face="Arial, Helvetica, sans-serif" size="3">codeBeamer's<br />Medical Brochure →</font></a><br />

                
				&nbsp;</td>
		</tr>
	</tbody>
</table>




<table border="0" cellpadding="20" cellspacing="0" width="600">
	<tbody>
		<tr>
			<td align="center" bgcolor="00a85d" valign="middle" width="300">
				<a href="http://www.intland.com/about-us/contact/" target="_blank"><font color="#ccffe8" face="Arial, Helvetica, sans-serif" size="5">Request a<br />Medical ALM Demo</font></a>		&nbsp;</td>
                							<td align="center" bgcolor="008248" valign="middle" width="300"><a href="http://www.intland.com/about-us/contact/" target="_blank"><font color="#ccffe8" face="Arial, Helvetica, sans-serif" size="5">Contact our Sales</font></a>&nbsp;</td>
		</tr>
	</tbody>
</table>


<table border="0" cellpadding="0" cellspacing="0" width="600">
	<tbody>
		<tr>
			<td align="center" bgcolor="#0093b8">
				<br />
				<font color="ffffff" face="Arial, Helvetica, sans-serif" size="2">Copyright &copy; 2014 <a href="http://www.intland.com?t=1" target="_blank"><font color="99ebff">Intland Software</font></a>. All rights reserved.</font><br />
				&nbsp;</td>
		</tr>
	</tbody>
</table>
