#parse("notification_email_header.vm")

Comment Added To:

<div class="heading">
[#${artifact.id}] #linkArtifact(${artifact})
</div>

#account(${originator})

#partHeader("Comment")
#partStart() $textFormatter.format(${comment.description}, ${comment.descriptionFormat}, ${wikiContext}) #partEnd()

#if (${comment.fileSize} && ${comment.fileSize} > 0)
	#partHeader("With attachment") ${comment.name}
#end

#linkArtifactComments(${artifact})

#parse("notification_email_footer.vm")