##$RCSfile$ $Revision: 18984:ea8b6a084fe4 $ $Date: 2008-10-18 13:28 +0000 $

${textFormatter.getMessage('forumPost.notification.created.subject')} [#$!{forumPost.forum.keyName}-${forumPost.threadId}] ${forumPost.subject}
