#set($newTrackerItem = $textFormatter.getMessage("tracker.type.${trackerItem.typeName}.create.label"))
#showProjectNameInSubjects("${textFormatter.getMessage('pullRequest.created.subject')} ${trackerItem}")
