#parse("notification_email_header.vm")

#define($footerText)
#trackerItemReason(${trackerItem})
#end

<div class="heading">
${textFormatter.getMessage('comment.created.title')} #linkTrackerItem(${trackerItem})
</div>

${textFormatter.getMessage('comment.user.mentioned.label')}

#partHeader("${textFormatter.getMessage('comment.description.label')}")
#partStart() $textFormatter.format(${comment.description}, ${comment.descriptionFormat}, ${wikiContext}) #partEnd()

#parse("notification_email_footer.vm")
