#parse("notification_email_header.vm")

${textFormatter.getMessage('wiki.notification.created.title')}:

#parse("wikipage_notification_email_body.vm")

#if(${diffHtml})
	#partHeader("${textFormatter.getMessage('wiki.diff.label')}")
	${diffHtml}
#end

#parse("notification_email_footer.vm")
