#showProjectNameInSubjects("${textFormatter.getMessage('wiki.notification.subject')} #if(${artifactApprovalHistoryEntry.approved}) #if(${artifactApprovalHistoryEntry.step.finalStep}) ${textFormatter.getMessage('artifact.approval.released')} #else ${textFormatter.getMessage('artifact.approval.approved')} #end #else ${textFormatter.getMessage('artifact.approval.rejected')} #end [#${wikiPage.id}] ${wikiPage.name}")
