<p>Hi ${name},</p>
<p>
Thanks for using codeBeamer throughout this past year. <strong>We would like to inform you that your subscription is due to expire in 10 days.</strong>
 To continue using codeBeamer, please simply reply to this email to get in touch with our Sales team.
  Should you need a few extra users, now is a convenient time to upgrade your license plan.
   When asking for an extension, <strong>please don't forget to include your Host ID found on the Sysadmin page in your codeBeamer instance.</strong>
</p>
<p>Kind regards, the Intland Team</p>