<p>Hi ${name},</p>
<p>Thank you for using codeBeamer throughout this past year. We hope that our ALM solution has helped streamline your development processes.</p<

<p>
	<strong>We would like to inform you that your subscription is due to expire in 60 days.</strong>
</p>

<p>
To continue using codeBeamer, please extend your license plan – just reply to this email to contact our sales team.
When asking for an extension, <strong>please don't forget to include your Host ID found on the Sysadmin page in your codeBeamer instance.</strong>
Whether you'd like to simply extend your current license plan, or upgrade it, we'll be happy to assist you in extending your subscription.
</p>
<p>
Kind regards, the Intland TeamYour codebeamer license will expire in 60 days.
</p>