<p>Hi ${name},</p>
<p>Thanks for choosing codeBeamer to help you improve your development processes.</p>
<p><strong>Your license has expired 1 day ago.</strong></p>
<p>
We're sorry we haven't heard from you – if you think there's a mistake, please contact our Sales team by directly replying to this email.
 In case you have decided not to continue with codeBeamer,
  please take a minute to give us some feedback on how we could make our ALM solution the ideal tool for you.
</p>
<p>
Kind regards, the Intland Team
</p>