<p>Hi ${name},</p>

<p>
Thanks for using codeBeamer throughout this past year. <strong>We would like to inform you that your subscription is due to expire in 30 days.</strong>
On the bright side, extending your license is a really simple process: please just reply to this email to get in touch with our Sales team.
We'll be happy to help you extend, or upgrade your license plan. Now's the time to think about whether you could use a few extra users!
When asking for an extension, <strong>please don't forget to include your Host ID found on the Sysadmin page in your codeBeamer instance</strong>.
</p>
<p>
Kind regards, the Intland Team
</p>