<div class="form-field">
	<label for="${selectorId}" #if ($isMandatory) class="mandatory" #end>${fieldLabel}</label>
	<input id="${selectorId}" name="params[${fieldName}]" type="text" value="$textFormatter.escape(${value})" />
</div>