<div class="form-field">
	<label for="${selectorId}" #if ($isMandatory) class="mandatory" #end>${fieldLabel}</label>

	<select id="${selectorId}"  #if ($postParamater) name="params[${fieldName}]" #end multiple="multiple">
		<optgroup label="${usersLabel}">
			#foreach ($user in $users)
				<option value="user_$user.get("id")"  #if ($user.get("selected")) selected="selected" #end>
					$user.get("aliasName") ($user.get("realName")#if ($user.get("emailDomain")) , $user.get("emailDomain")) #end
				</option>
			#end
		</optgroup>
		<optgroup label="${rolesLabel}">
			#foreach ($role in $roles)
				<option value="role_$role.get("roleId")"  #if ($role.get("selected")) selected="selected" #end>$role.get("roleName")</option>
			#end
		</optgroup>
	</select>

	<script type="text/javascript" src="${userEditorJsUrl}"></script>
	<script type="text/javascript">
		jQuery(function($) {
			#if ($isMultipleChoiceAllowed)
				codebeamer.dashboard.multiSelect.init("${selectorId}", "${eventName}");
			#else
				codebeamer.dashboard.multiSelect.initSingleSelect("${selectorId}", "${eventName}");
			#end

			codebeamer.dashboard.multiSelect.attachEventListener("projectSelector:project:changed", function(projectIds) {
				codebeamer.dashboard.userEditor.getUsersAndRoles(projectIds, "${getUsersUrl}", "${selectorId}");
			});
		});
	</script>

</div>