#wikiBoxOpen(${command})

	## chart
    #parse("includes/intervalSelect.vm")

    #define($chartControls)
		#renderIntervalSelect("${pluginId}" "jenkinsBuildTrends_${pluginId}.updateChart();" "${command.period}" "daily")
	#end
    #wikiBoxTitle("$!{command.title}", "${chartTitle} (${docId})", ${chartControls})

	<span id="chart_${pluginId}">
		${chartSupport.chartMarkup}
	</span>

    <script type="text/javascript">
    	var jenkinsBuildTrends_${pluginId} = {
    		updateChart: function() {
    			var intervalUrlParams = getChartIntervalSelect_${pluginId}();
    			var url = "${chartSupport.chartURL}";
    			url += "&" + intervalUrlParams + "&doc_id=${docId}";

    			chartRendererSupport.updateChart('${contextPath}', "chart_${pluginId}", url, ${command.width}, ${command.height});
    		}
    	}
    </script>

#wikiBoxClose()
