#if($html)
    ${html}
    <script type="text/javascript">
        $(function() {
            var pluginSelector = '#ajaxplugin_${pluginId}',
                baseUrl = '${ajaxRefreshURL}',
                anchorSelector = '.pagebanner>a,.pagelinks>a';

            codebeamer.AjaxRefreshingWikiPlugin.attachClickHandler($(pluginSelector), anchorSelector, baseUrl);
        });
    </script>
#else
	#@message('error' true 'globalMessages')
		<ul><li>${errorMessage}</li></ul>
	#end
#end

#if ($queryUrl)
	<a href="$queryUrl" target="_blank" title="$queryLabel">$queryLabel</a>
#else
	<a style="visibility:hidden; display: block; height: 16px;"></a>
#end
