#wikiBoxOpen(${command})
    <table>
    	<thead>
			<tr><th>#if(!$isCurrentProject)${project.name} - #end $textFormatter.getMessage('recent.documents.label')</th></tr>
    	</thead>
    	<tbody>
        	#if (${docs.size()} != 0)
        		#foreach ($item in $docs )
        			#trOpen()
        				<td width="99%">
        					<a href="${contextPath}${item.urlLink}">$textFormatter.escape(${item.name})</a> $textFormatter.getMessage('document.lastModifiedBy.short') #linkUserShort(${item.lastModifiedBy})
        					<br/>
        					<span class="subtext">$textFormatter.formatDate(${user}, ${item.lastModifiedAt})</span>
        				</td>
        			#trClose()
        		#end
        	#else
        		#trOpen()
        			#tdText("$textFormatter.getMessage('recent.documents.none')No documents updated recently.")
        		#trClose()
        	#end
    	</tbody>
    </table>
#wikiBoxClose()
